<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  
  <system.serviceModel>

    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ServerHosting.ServerService" behaviorConfiguration="debug" >

        <endpoint address="net.tcp://localhost:9000/ServerService" binding="netTcpBinding" bindingConfiguration="BatchManagementServiceEndPoint" name="AdmissionSystemEndPoint" contract="ServerInterfaces.IServerService" />
        <!--<endpoint address="ServerService" binding="basicHttpBinding" bindingConfiguration="httpname"  name="AdmissionSystemEndPoint" contract="ServerInterfaces.IServerService" />
        <endpoint address="mex"  binding="mexHttpBinding"  contract="IMetadataExchange"/>-->
        <!--<host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9010/ServerService"/>
            <add baseAddress="http://localhost:9000/ServerService" />
          </baseAddresses>
        </host>-->
      </service>
      
      
    </services> 




    <bindings>
      <netTcpBinding>
        <binding name="BatchManagementServiceEndPoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="524288" maxBufferPoolSize="1073741824" maxBufferSize="1073741824" maxConnections="10" maxReceivedMessageSize="1073741824">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <!--<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />-->
            <message clientCredentialType="None" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    
  <!--<basicHttpBinding>
       <binding name="httpname" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"  transferMode="Streamed"  hostNameComparisonMode="StrongWildcard"  maxBufferPoolSize="1073741824" maxBufferSize="1073741824"  maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
         
          <security mode="None">
            --><!--<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />--><!--          
          </security>
        </binding>
  </basicHttpBinding>-->  
      
     
  
    </bindings>
  </system.serviceModel>
  
  <connectionStrings>
    <add name="AdmissionTestingSystemEntities" connectionString="metadata=res://*/EDIiuiAdmissionSystem.csdl|res://*/EDIiuiAdmissionSystem.ssdl|res://*/EDIiuiAdmissionSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CTOT17G\SQLEXPRESS;initial catalog=AdmissionTestingSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>